<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QuizMaster - Shopping Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link th:href="@{styles/header.css}" rel="stylesheet" />
</head>
<body>
<header>
    <a href="/index" class="headerBrand">QuizMaster</a>
    <nav>
        <div class="headerDiv">
            <ul>
                <!-- Div visible when no user is logged in -->
                <div th:if="${loggedInUser == null}" class="user-actions">
                    <li><a href="/login">Log in</a></li>
                    <li><a href="/signup">Sign up</a></li>
                </div>
                <!-- Div visible when a user is logged in -->
                <div th:if="${loggedInUser != null}" class="user-actions">
                    <li><a href="/shopping-cart">Shopping cart</a></li>
                    <li><a href="/history">History</a></li>
                    <li><a href="/logout">Log out</a></li>
                </div>
            </ul>
        </div>
    </nav>
</header>
<main>
    <h2>Shopping Cart</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Number of items</th>
            <th>Total</th>
            <th>Add</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}" th:if="${item.instancesOfInCart > 0}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.price + '€'}"></td>
            <td th:text="${item.instancesOfInCart}"></td>
            <!-- Calculate and display the total price for each item -->
            <td th:text="${item.price * item.instancesOfInCart + '€'}"></td>
            <td>
                <form th:action="@{/addToCartFromShoppingCart/{id}(id=${item.id})}" method="post">
                    <input type="submit" value="Add" class="btn btn-success">
                </form>
            </td>
            <td>
                <form th:action="@{/removeFromCart/{id}(id=${item.id})}" method="post">
                    <input type="submit" value="Remove" class="btn btn-danger">
                </form>
            </td>
        </tr>
        </tbody>
        <!-- Table footer to display total price -->
        <tfoot>
        <tr>
            <td colspan="3"><strong>Total:</strong></td>
            <td th:text="${totalPrice} + '€'"></td>
            <td></td>
        </tr>
        </tfoot>
    </table>
    <form th:action="@{/buyItems}" method="post">
        <input type="submit" value="Buy Items" class="btn btn-success">
    </form>
</main>
</body>
</html>
